// MOBILE
@media screen and (max-width: 768px) {

}
// TABLET
@media screen and (min-width: 769px) and (max-width: 960px) {

}
// DESKTOP
@media screen and (min-width: 961px) {
  .http-form {
    margin: 6% 0;
    .message-box-wrapper {
      margin: auto;
      width: 50%;
    }
    .form-wrapper {
      margin: auto;
      width: 50%;
    }
    .button-wrapper {
      margin: auto;
      width: 50%;
    }
  }
}
