@import 'list';
@import 'list-item';
@import 'navigation';
@import 'form-input';
@import 'submit-button';
@import 'message-box';

$background-color: #F0F0E9;
// MOBILE
@media screen and (max-width: 768px) {

}
// TABLET
@media screen and (min-width: 769px) and (max-width: 960px) {

}
// DESKTOP
@media screen and (min-width: 961px) {
  .page {
    // position: relative;
  }

  .login {
    min-height: 512px;

  }

  .signup {

  }
}

button {
  background: transparent;
  border: none;
  outline: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background: $background-color;
  #application {
    height: 100%;
    .app {
      height: 100%;
    }
  }
  .page {
    // top: 0; bottom: 0; left: 0; right: 0;
    // position: absolute;
    // margin: 0;
    // z-index: -1
  }
}
div {
  box-sizing: border-box;
}
.page {
  margin: 8px;
}
