@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
// MOBILE
@media screen and (max-width: 768px) {

}
// TABLET
@media screen and (min-width: 769px) and (max-width: 960px) {

}
// DESKTOP
@media screen and (min-width: 961px) {
  .navigation {
    top: 0;
    left: 0;
    right: 0;
    height: 6%;
    nav {
      background: black;

      ul.navigation-list {
        margin: 0;
        padding: 0;
        overflow: hidden;
        li.navigation-list-item {
          list-style: none;
          float: left;
          vertical-align: middle;
          .navigation-list-tc {
            display: table;
          }
          a.navigation-list-item-link {
            display: table-cell;
            vertical-align: middle;
            font-size: 100%;
            color: #CCC;
            padding: 0 16px;
            line-height: 60px;
          }
          &:hover a {
            color: white;
            cursor: pointer;
          }
          &:first-of-type {
            background:black;
            a.navigation-list-item-link {
              font-family: 'Bungee Inline', cursive;
              color: #E8E8E8;
              font-size: 140%;
            }
          }
          &:first-of-type:hover {
            a.navigation-list-item-link {
              color: white;
            }
          }
        }
        li.navigation-list-item.active {
          a.navigation-list-item-link {
            color: white;
          }
        }
      }
    }
  }
}
